In [63]:
import pandas as pd
import numpy as np
from dataset import EssayDataset
from transformers import BertTokenizer
import matplotlib.pyplot as plt

### Merge dataset

In [24]:
# df1 = pd.read_csv("dataset/analisis_essay.csv")
# df1['dataset'] = 'analisis_essay'
# df2 = pd.read_csv("dataset/asap.csv")
# df2['dataset'] = 'asap'
# df3 = pd.read_csv("dataset/cunlp.csv")
# df3['dataset'] = 'cunlp'
# df4 = pd.read_csv("dataset/sag.csv")
# df4['dataset'] = 'sag'
# df5 = pd.read_csv("dataset/sci.csv")
# df5['dataset'] = 'sci'
# df6 = pd.read_csv("dataset/stita.csv")
# df6['dataset'] = 'stita'

# # add null value to all dataframe that doesn't have question column
# for df in [df2, df3, df6]:
#     df['question'] = pd.NA

# df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)
# df.shape

# df.to_csv("dataset/aes_dataset.csv", index=False)

### Preprocessing

In [4]:
df = pd.read_csv("dataset/aes_dataset.csv")
df.head()

,question,reference_answer,answer,score,dataset
0,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,"sumber tenaga, pemanis alami, menjaga sistem i...",27.0,analisis_essay
1,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,"sebagai sumber energi, pemanis alami, menjaga ...",21.0,analisis_essay
2,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,1. Sebagai energi. 2. Sebagai memperlancaar pe...,42.0,analisis_essay
3,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,"untuk membuat kenyang, agar tidak lapar, agar ...",18.0,analisis_essay
4,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,Karbohidrat mempunyai peran penting untuk pros...,82.0,analisis_essay

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22406 entries, 0 to 22405
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   question          4859 non-null   object
 1   reference_answer  22406 non-null  object
 2   answer            22406 non-null  object
 3   score             22406 non-null  float64
 4   dataset           22406 non-null  object
dtypes: float64(1), object(4)
memory usage: 875.4+ KB

In [5]:
df['dataset'].value_counts()

dataset
asap              17043
sag                2558
analisis_essay     2162
stita               333
cunlp               171
sci                 139
Name: count, dtype: int64

In [ ]:
# convert NaN to None
df['question'] = df['question'].replace({np.nan: None})

### Analysis Max Length of the Sub Token

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22406 entries, 0 to 22405
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   question          4859 non-null   object
 1   reference_answer  22406 non-null  object
 2   answer            22406 non-null  object
 3   score             22406 non-null  float64
 4   dataset           22406 non-null  object
dtypes: float64(1), object(4)
memory usage: 875.4+ KB

In [59]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
dataset = EssayDataset(df['question'], df['reference_answer'], df['answer'], df['score'], tokenizer, 512)

df['max_length'] = df.index.map(dataset.get_max_length)

Token indices sequence length is longer than the specified maximum sequence length for this model (911 > 512). Running this sequence through the model will result in indexing errors

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22406 entries, 0 to 22405
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   question          4859 non-null   object
 1   reference_answer  22406 non-null  object
 2   answer            22406 non-null  object
 3   score             22406 non-null  float64
 4   dataset           22406 non-null  object
 5   max_length        22406 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.0+ MB

In [62]:
df['max_length'].describe()

count    22406.000000
mean       139.396679
std         93.591251
min         24.000000
25%         98.000000
50%        125.000000
75%        155.000000
max       1713.000000
Name: max_length, dtype: float64

In [68]:
df[df['max_length'] < 500]

,question,reference_answer,answer,score,dataset,max_length
0,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,"sumber tenaga, pemanis alami, menjaga sistem i...",27.0,analisis_essay,132
1,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,"sebagai sumber energi, pemanis alami, menjaga ...",21.0,analisis_essay,136
2,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,1. Sebagai energi. 2. Sebagai memperlancaar pe...,42.0,analisis_essay,149
3,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,"untuk membuat kenyang, agar tidak lapar, agar ...",18.0,analisis_essay,137
4,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,Karbohidrat mempunyai peran penting untuk pros...,82.0,analisis_essay,240
...,...,...,...,...,...,...
22401,None,The term population refers to the generating p...,"Meanwhile, the population refers to the popula...",40.0,stita,368
22402,None,The term population refers to the generating p...,We can say that the finite population can be d...,0.0,stita,307
22403,None,The term population refers to the generating p...,There is a population consisting of a finite n...,100.0,stita,457
22404,None,The term population refers to the generating p...,There is a population that consists of a finit...,40.0,stita,393
22405,None,The term population refers to the generating p...,Population means all the elements that are bei...,0.0,stita,302