In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

# Analisis Essay Dataset

In [20]:
def read_soal(dir_csv):
    soal = pd.read_excel("dataset/"+dir_csv)
    new_names = {'No': 'no','No ': 'no', 'Soal': 'question','Soal ': 'question', 'Kunci Jawaban': 'reference_answer','Kunci Jawaban ': 'reference_answer'}
    soal = soal.rename(columns=new_names)
    return soal

In [21]:
def read_answer(data_csv, sheet_name):
    df = pd.read_excel("dataset/"+data_csv, sheet_name=sheet_name)
    new_names = {'No ': 'no','No': 'no', 'Jawaban ': 'answer','Jawaban': 'answer'}
    df = df.rename(columns=new_names)
    print(df.columns)
    df = df.drop(columns=['Siswa ', 'no'], axis=1)
    return df

In [22]:
# init dataframe
analisisEssay_df = pd.DataFrame()

In [23]:
# loop all sheet tab
sheet_name = ['Analisis_Essay_Grading_Lifestyle_568 data.xlsx', 'Analisis_Essay_Grading_Olahraga_544 data.xlsx', 'Analisis_Essay_Grading_Politik_532 data.xlsx', 'Analisis_Essay_Grading_Teknologi_515 data.xlsx']

for name in sheet_name:
    soal = read_soal(name)
    print(soal.columns)
    for i in range(1, 11):
        sheet_name = "No."+str(i)
        jawaban = read_answer(name, sheet_name)
        pertanyaan = soal[soal['no'] == i]
        result = pd.merge(pertanyaan, jawaban, how='cross')
        # result = result.drop(columns=['no'], axis=1)
        analisisEssay_df = pd.concat([analisisEssay_df, result], ignore_index=True, join='outer')

Index(['no', 'question', 'reference_answer', 'kategori'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'question', 'reference_answer', 'kategori'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'question', 'reference_answer', 'kategori'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'question', 'reference_answer', 'kategori'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')
Index(['no', 'Siswa ', 'answer', 'score1', 'score2', 'score3'], dtype='object')

In [24]:
analisisEssay_df[['no', 'kategori']].value_counts().sort_index(level=['no', 'kategori'])

no  kategori
1   lifestyle    57
    olahraga     56
    politik      54
    teknologi    52
2   lifestyle    57
    olahraga     55
    politik      54
    teknologi    52
3   lifestyle    57
    olahraga     57
    politik      54
    teknologi    52
4   lifestyle    57
    olahraga     56
    politik      54
    teknologi    52
5   lifestyle    57
    olahraga     55
    politik      54
    teknologi    51
6   lifestyle    57
    olahraga     55
    politik      54
    teknologi    52
7   lifestyle    57
    olahraga     54
    politik      54
    teknologi    52
8   lifestyle    57
    olahraga     52
    politik      53
    teknologi    50
9   lifestyle    56
    olahraga     51
    politik      51
    teknologi    52
10  lifestyle    56
    olahraga     53
    politik      53
    teknologi    50
Name: count, dtype: int64

In [25]:
analisisEssay_df.columns

Index(['no', 'question', 'reference_answer', 'kategori', 'answer', 'score1',
       'score2', 'score3'],
      dtype='object')

In [26]:
analisisEssay_df['avg_score'] = analisisEssay_df[['score1', 'score2', 'score3']].mean(axis=1).round(0)

In [28]:
analisisEssay_df['prompt'] = (
    "Question (Category: " + analisisEssay_df['kategori'] + "): " + analisisEssay_df['question'] + "\n"
    "Reference Answer: " + analisisEssay_df['reference_answer'] + "\n"
    "Student Answer: " + analisisEssay_df['answer'] + "\n"
    "Grading Rubric: 0-100 (where 0 is the lowest score and 100 is the highest).\n"
    "Scores given by experts: "
)

In [29]:
analisisEssay_df['prompt_length'] = analisisEssay_df['prompt'].apply(len)

In [30]:
analisisEssay_df['prompt_length'].describe()

count    2162.000000
mean      746.907956
std       338.797209
min       306.000000
25%       546.000000
50%       673.000000
75%       843.750000
max      4829.000000
Name: prompt_length, dtype: float64

In [31]:
analisisEssay_df.head()

,no,question,reference_answer,kategori,answer,score1,score2,score3,avg_score,prompt,prompt_length
0,1,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,lifestyle,"sumber tenaga, pemanis alami, menjaga sistem i...",20,35,25,27.0,Question (Category: lifestyle): Jelaskan kegun...,487
1,1,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,lifestyle,"sebagai sumber energi, pemanis alami, menjaga ...",18,20,25,21.0,Question (Category: lifestyle): Jelaskan kegun...,499
2,1,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,lifestyle,1. Sebagai energi. 2. Sebagai memperlancaar pe...,25,50,50,42.0,Question (Category: lifestyle): Jelaskan kegun...,512
3,1,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,lifestyle,"untuk membuat kenyang, agar tidak lapar, agar ...",15,15,25,18.0,Question (Category: lifestyle): Jelaskan kegun...,493
4,1,Jelaskan kegunaan karbohidrat untuk tubuh kita.,Fungsi karbohidrat adalah sebagai pemasok ener...,lifestyle,Karbohidrat mempunyai peran penting untuk pros...,70,90,85,82.0,Question (Category: lifestyle): Jelaskan kegun...,772

# ASAP dataset

In [17]:
asap_df = pd.read_excel("dataset/asap.xlsx")
asap_df = asap_df.drop(columns=['id', 'dataset', 'question_id', 'question', 'correct'])
asap_df.head()

,real_answer,answer,score,score2
0,You would need many more pieces of information...,Some additional information that we would need...,1,1
1,You would need many more pieces of information...,"After reading the expirement, I realized that ...",1,1
2,You would need many more pieces of information...,"What you need is more trials, a control set up...",1,1
3,You would need many more pieces of information...,The student should list what rock is better an...,0,0
4,You would need many more pieces of information...,For the students to be able to make a replicat...,2,2

In [18]:
asap_df['avg_score'] = asap_df[['score', 'score2']].mean(axis=1).round(0)
asap_df['prompt'] = (
    "Reference Answer: " + asap_df['real_answer'] + "\n"
    "Student Answer: " + asap_df['answer'] + "\n"
    "Grading Rubric: 0-3 (where 0 is the lowest score and 3 is the highest).\n"
    "Scores given by experts: " + str(asap_df['avg_score'])
)
asap_df['prompt_length'] = asap_df['prompt'].apply(len)
asap_df.head()

,real_answer,answer,score,score2,avg_score,prompt,prompt_length
0,You would need many more pieces of information...,Some additional information that we would need...,1,1,1.0,Reference Answer: You would need many more pie...,995
1,You would need many more pieces of information...,"After reading the expirement, I realized that ...",1,1,1.0,Reference Answer: You would need many more pie...,977
2,You would need many more pieces of information...,"What you need is more trials, a control set up...",1,1,1.0,Reference Answer: You would need many more pie...,850
3,You would need many more pieces of information...,The student should list what rock is better an...,0,0,0.0,Reference Answer: You would need many more pie...,769
4,You would need many more pieces of information...,For the students to be able to make a replicat...,2,2,2.0,Reference Answer: You would need many more pie...,839

In [19]:
asap_df['prompt_length'].describe()

count    17043.000000
mean       868.411489
std        171.846656
min        485.000000
25%        749.000000
50%        854.000000
75%        966.000000
max       2399.000000
Name: prompt_length, dtype: float64

In [20]:
asap_df.shape

(17043, 7)

# CUNLP Dataset

In [21]:
cunlp_df = pd.read_excel("dataset/cunlp.xlsx")
cunlp_df = cunlp_df.drop(columns=['id', 'dataset', 'question_id', 'question', 'correct'])
cunlp_df.head()

,real_answer,answer,score
0,"If the question is IR-Based, I will do the fol...",Using semantic analysis methods. We can use ve...,25
1,"If the question is IR-Based, I will do the fol...","we should use vector space model. firstly, bin...",25
2,"If the question is IR-Based, I will do the fol...","Assume we have a question like "" Why the sky i...",50
3,"If the question is IR-Based, I will do the fol...",We can use Vector Space Model that is represen...,25
4,"If the question is IR-Based, I will do the fol...",In this corpus we will use sentence segmenting...,50

In [22]:
cunlp_df['prompt'] = (
    "Reference Answer: " + cunlp_df['real_answer'] + "\n"
    "Student Answer: " + cunlp_df['answer'] + "\n"
    "Grading Rubric: 0-100 (where 0 is the lowest score and 100 is the highest).\n"
    "Scores given by experts: " + str(cunlp_df['score'])
)
cunlp_df['prompt_length'] = cunlp_df['prompt'].apply(len)
cunlp_df.head()

,real_answer,answer,score,prompt,prompt_length
0,"If the question is IR-Based, I will do the fol...",Using semantic analysis methods. We can use ve...,25,"Reference Answer: If the question is IR-Based,...",1241
1,"If the question is IR-Based, I will do the fol...","we should use vector space model. firstly, bin...",25,"Reference Answer: If the question is IR-Based,...",1337
2,"If the question is IR-Based, I will do the fol...","Assume we have a question like "" Why the sky i...",50,"Reference Answer: If the question is IR-Based,...",1478
3,"If the question is IR-Based, I will do the fol...",We can use Vector Space Model that is represen...,25,"Reference Answer: If the question is IR-Based,...",1600
4,"If the question is IR-Based, I will do the fol...",In this corpus we will use sentence segmenting...,50,"Reference Answer: If the question is IR-Based,...",1517

In [23]:
cunlp_df['prompt_length'].describe()

count     171.000000
mean     1237.929825
std       253.293124
min       754.000000
25%      1034.500000
50%      1209.000000
75%      1400.000000
max      2023.000000
Name: prompt_length, dtype: float64

In [24]:
cunlp_df.shape

(171, 5)

# SAG Dataset

In [25]:
sag_df = pd.read_excel("dataset/sag.xlsx")
sag_df = sag_df.drop(columns=['id', 'dataset', 'question_id'])
sag_df.head()

,question,real_answer,answer,score,correct
0,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,High risk problems are address in the prototyp...,3.5,0
1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,To simulate portions of the desired final prod...,5.0,1
2,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,A prototype program simulates the behaviors of...,4.0,1
3,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,Defined in the Specification phase a prototype...,5.0,1
4,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,It is used to let the users have a first idea ...,3.0,0

In [26]:
sag_df['is_correct'] = np.where(sag_df['correct'] == 1, "correct", "wrong")

sag_df['prompt'] = (
    "Question: " + sag_df['question'] + "\n"
    "Reference Answer: " + sag_df['real_answer'] + "\n"
    "Student Answer: " + sag_df['answer'] + "\n"
    "Grading Rubric: 0-5 (where 0 is the lowest score and 5 is the highest).\n"
    "Scores given by experts: " + sag_df['score'].astype(str) + 
    ". Student answer is " + sag_df['is_correct']
)

sag_df['prompt_length'] = sag_df['prompt'].apply(len)
sag_df.head()

,question,real_answer,answer,score,correct,is_correct,prompt,prompt_length
0,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,High risk problems are address in the prototyp...,3.5,0,wrong,Question: What is the role of a prototype prog...,492
1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,To simulate portions of the desired final prod...,5.0,1,correct,Question: What is the role of a prototype prog...,505
2,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,A prototype program simulates the behaviors of...,4.0,1,correct,Question: What is the role of a prototype prog...,419
3,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,Defined in the Specification phase a prototype...,5.0,1,correct,Question: What is the role of a prototype prog...,554
4,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,It is used to let the users have a first idea ...,3.0,0,wrong,Question: What is the role of a prototype prog...,530

In [27]:
sag_df['prompt_length'].describe()

count    2558.000000
mean      418.944097
std       114.996830
min       230.000000
25%       329.000000
50%       405.000000
75%       489.000000
max      1398.000000
Name: prompt_length, dtype: float64

In [28]:
sag_df.shape

(2558, 8)

# Scientsbank Dataset

In [29]:
sci_df = pd.read_excel("dataset/scientsbank.xlsx")
sci_df = sci_df.drop(columns=['id', 'dataset', 'question_id'])
sci_df.head()

,question,real_answer,answer,score,correct,Alfonso,Emiliano
0,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,Because they are repelling each other always.,0.0,0,0,0
1,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,The magnets are not touching because they cann...,4.0,1,4,4
2,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,The magnets will maybe not stick because the f...,0.0,0,0,0
3,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,They are repelling.,0.0,0,0,0
4,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,The magnets are on the side when they repel ea...,0.0,0,0,1

In [30]:
sci_df['avg_score'] = sci_df[['score', 'Alfonso', 'Emiliano']].mean(axis=1).round(0)
sci_df['is_correct'] = np.where(sci_df['correct'] == 1, "correct", "wrong")

sci_df['prompt'] = (
    "Question: " + sci_df['question'] + "\n"
    "Reference Answer: " + sci_df['real_answer'] + "\n"
    "Student Answer: " + sci_df['answer'] + "\n"
    "Grading Rubric: 0-5 (where 0 is the lowest score and 5 is the highest).\n"
    "Scores given by experts: " + sci_df['avg_score'].astype(str) + 
    ". Student answer is " + sci_df['is_correct']
)

sci_df['prompt_length'] = sci_df['prompt'].apply(len)
sci_df.head()

,question,real_answer,answer,score,correct,Alfonso,Emiliano,avg_score,is_correct,prompt,prompt_length
0,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,Because they are repelling each other always.,0.0,0,0,0,0.0,wrong,Question: Look at the picture on the right. La...,463
1,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,The magnets are not touching because they cann...,4.0,1,4,4,4.0,correct,Question: Look at the picture on the right. La...,536
2,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,The magnets will maybe not stick because the f...,0.0,0,0,0,0.0,wrong,Question: Look at the picture on the right. La...,560
3,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,They are repelling.,0.0,0,0,0,0.0,wrong,Question: Look at the picture on the right. La...,437
4,Look at the picture on the right. Label the po...,Like poles repel and opposite poles attract.,The magnets are on the side when they repel ea...,0.0,0,0,1,0.0,wrong,Question: Look at the picture on the right. La...,473

In [31]:
sci_df['prompt_length'].describe()

count    139.000000
mean     454.640288
std       72.075042
min      335.000000
25%      387.000000
50%      465.000000
75%      513.500000
max      650.000000
Name: prompt_length, dtype: float64

In [5]:
sci_df.shape

(139, 11)

# Stita Dataset

In [2]:
stita_df = pd.read_excel("dataset/stita.xlsx")
stita_df = stita_df.drop(columns=['id', 'dataset', 'question_id', 'question', 'correct'])
stita_df.head()

,real_answer,answer,score
0,When we talk about characters we refer to all ...,When we talk about characters we refer to all ...,1.000000
1,When we talk about characters we refer to all ...,Characters can be qualitative or quantitative....,0.590909
2,When we talk about characters we refer to all ...,The characters in the statistical units may be...,0.704545
3,When we talk about characters we refer to all ...,The types of characters are distinguished in q...,0.704545
4,When we talk about characters we refer to all ...,the types of characters are. Qualitative and q...,0.590909

In [3]:
stita_df['score'] = (stita_df['score']*100).round(0)

stita_df['prompt'] = (
    "Reference Answer: " + stita_df['real_answer'] + "\n"
    "Student Answer: " + stita_df['answer'] + "\n"
    "Grading Rubric: 0-100 (where 0 is the lowest score and 100 is the highest).\n"
    "Scores given by experts: " + stita_df['score'].astype(str)
)

stita_df['prompt_length'] = stita_df['prompt'].apply(len)
stita_df.head()

,real_answer,answer,score,prompt,prompt_length
0,When we talk about characters we refer to all ...,When we talk about characters we refer to all ...,100.0,Reference Answer: When we talk about character...,3216
1,When we talk about characters we refer to all ...,Characters can be qualitative or quantitative....,59.0,Reference Answer: When we talk about character...,2389
2,When we talk about characters we refer to all ...,The characters in the statistical units may be...,70.0,Reference Answer: When we talk about character...,2490
3,When we talk about characters we refer to all ...,The types of characters are distinguished in q...,70.0,Reference Answer: When we talk about character...,2481
4,When we talk about characters we refer to all ...,the types of characters are. Qualitative and q...,59.0,Reference Answer: When we talk about character...,2373

In [4]:
stita_df['prompt_length'].describe()

count     333.000000
mean     3098.180180
std       894.102952
min      1522.000000
25%      2490.000000
50%      2887.000000
75%      3589.000000
max      5905.000000
Name: prompt_length, dtype: float64

In [35]:
stita_df.shape

(333, 5)

In [7]:
stita_df['prompt'][99]

'Reference Answer: probability is an overall function defined in sample space S, which enjoys the following properties: P(S)=1 axiom of certainty, P(A)=0 for each Axiom of positive P(A1uA2u..) = P(A1)+P(A2)... for each succession of two-to-two events incompatible (axiom of additives): Classical definition: the probability of an event A is the ratio between the number of cases favorable to redo A and the total number of possible cases, assuming that these are equally likely an example of application of this definition is the extraction of a card from a deck of 40 cards total.We assume that we want to calculate that the eight sticks comes out. Clearly the favorable case is one and the possible cases are 40. the chance sought is therefore 1/40.\xa0 Frequentist definition: the P(A) prob of event A is the limit of the relative frequency with which A occurs in a long series of repeated tests under the same conditions example: the probability of a newborn being female is to be calculated. out of 100,000 births there were 48,500 females. As the number of tests is high enough and each test is independent of the other, we use the frequentist definition. Subjectivity Interpretation: The probability of an event is the degree of trust that an individual, based on the knowledge he possesses at a given time, assigns to the occurrence of the event an example of this is the probability that an athlete will win the race. It will be a personal and subjective evaluation, based on some findings that each of us can make. If in fact we know that the athlete has trained very much and is particularly strong, then attribute a high probability value to his winnings.\nStudent Answer: Axiomatic probability is an overall function defined in the sample space.\n\n\xa0Classical interpretation:the probability of an event A is the ratio of the number of cases favourable to the occurrence of A to the total number of possible cases, assuming that these are equally likely. EX: Experimenting the launch of an unmade die, the probability that esc 1 is 1/6, the probability that it will come out a greater number of two is 4/6=2/3, the probability that it will come out an even number is 3/6=1/2\xa0\n\nThe frequentist interpretation says that the P(A) probability of event A is the limit of the relative frequency with which A occurs a long series of repeated tests under the same conditions. EX: In the head or cross game the probability that a balanced coin falls on one side or on the other is the same. Expressed as a percentage 50% per head and 50% per cross.\xa0 In order for the sum to be fair for each euro bet on head, the net gain must be equal to one euro, if the share were (10 to 9) then the bet would be disadvantageous for the bettor and advantageous for the dealer. If the stake were (10 to 11) the bet would be advantageous for the bettor and disadvantageous for the dealer.\xa0\n\nThe subjective interpretation: the probability of an event is the degree of confidence that an individual on the basis of knowledge possessed in a given moment, assigns to the occurrence of the event. EX: If the probability of winning a horse for a better is 0.2 it means that he is willing to pay for example 20 euros to win 100 in case of victory of the horse.\nGrading Rubric: 0-100 (where 0 is the lowest score and 100 is the highest).\nScores given by experts: 59.0'